.imgStyle {
  @apply bg-gradient-to-r from-blue-500 to-indigo-500 rounded-l-md;
  position: relative;
  overflow: hidden;
}

.cartoonImg {
  background: url('/assets/img2.png') no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 65% 100px;
  z-index: 1;
}

.cloudOne {
  background: url('/assets/cloud_1.png') no-repeat;
  position: absolute;
  top: 70%;
  left: 10%;
  width: 30%;
  height: 20%;
  background-size: contain;
  z-index: 2;
  transform: translateX(300%);
  /* animation: cloud_one 20.5s ease-in infinite; */
}

.cloudTwo {
  background: url('/assets/cloud_2.png') no-repeat;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50%;
  height: 100%;
  background-size: contain;
  z-index: 0;
  transform: translateX(160%);
  /* animation: cloud_two 18.5s ease-in infinite; */
}

/* css keyframes */
@keyframes cloud_one {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(-150%);
  }
}

@keyframes cloud_two {
  0% {
    transform: translateX(160%);
  }
  100% {
    transform: translateX(-250%);
  }
}